:host {
	display: block;
	position: fixed;
	top: 0;
	z-index: 1;
}

header {
	width: 100vw;
	background: var(--dark-blue);
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}

img {
	vertical-align: middle;
}

nav {
	display: none;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 30vw;
	max-width: 533px;
	display: flex;
	justify-content: space-between;
}

li {
	display: inline-block;
}

a {
	color: var(--white);
	text-decoration: none;
	font-weight: 600;
}

a.disabled {
	pointer-events: none;
	cursor: default;
}

@media (min-width: 1080px) {
	header {
		height: 80px;
		justify-content: space-between;
		padding: 0 140px;
	}

	nav {
		display: inline;
	}
}
