footer {
	height: 40px;
	width: 100%;
	background-color: var(--dark-blue);
	display: flex;
	justify-content: center;
	align-items: center;
}

#footer-logo {
	display: none;
}

#copyright {
	color: var(--white);
}

@media (min-width: 900px) {
	footer {
		justify-content: flex-end;
		padding: 0 10%;
	}

	#footer-logo {
		display: block;
		margin-right: auto;
	}
}
