<section id="hero" class="hero">
	<h1 class="title">Welcome to my portfolio.</h1>
	<p class="subtitle">Here are all of the software projects I'm currently working on or have worked on in the past.
	</p>
</section>
<section id="projects-container">
	<app-project-filter></app-project-filter>
	<div id="projects-grid">
		<app-project-card *ngFor="let project of projects"></app-project-card>
	</div>
</section>
<section id="contact" class="hero">
	<h2 id="contact-title" class="title">Let's build something beautiful together.</h2>
	<button class="btn btn-secondary" routerLink="/contact">Get in touch</button>
</section>
