#projects-showcase {
	padding: 30px 0;
	display: grid;
	grid-template-columns: 10px repeat(6, 1fr) 10px;
	gap: 10px;
}

#projects-grid {
	grid-column: 2 / span 6;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	gap: 20px;
}

#contact {
	padding: 30px 0;
}

#contact-title {
	font-size: 40px;
	margin: 0 0 20px 0;
}

@media (min-width: 650px) {
	#projects-showcase {
		gap: 40px;
	}
}

@media (min-width: 1300px) {
	#projects-showcase {
		min-height: 580px;
		grid-template-columns: 1fr repeat(6, 1fr) 1fr;
	}

	#projects-grid {
		grid-template-columns: repeat(6, 1fr);
	}
}
