#projects-showcase {
	padding: 30px 0;
	display: grid;
	grid-template-columns: 10px repeat(6, 1fr) 10px;
	gap: 10px;
}

#projects-grid {
	grid-column: 2 / span 6;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	gap: 20px;
}

#contact {
	padding: 30px 0;
}

#contact-title {
	font-size: 40px;
	margin: 0 0 20px 0;
}

@media (min-width: 500px) {
	#projects-showcase {
		grid-template-columns: 1fr repeat(12, minmax(auto, 60px)) 1fr;
		gap: 20px;
	}

	#projects-grid {
		grid-column: 2 / span 12;
		grid-template-columns: repeat(12, minmax(auto, 60px));
		gap: 40px;
	}
}

@media (min-width: 700px) {
	#projects-showcase {
		/* padding: 50px 0; */
		gap: 40px;
	}
}
