#contacts-showcase {
	display: grid;
	grid-template-columns: 10px 1fr 10px;
	padding: 30px 0;
	gap: 10px;
}

#contacts-grid {
	grid-column: 2 / 3;
	display: grid;
	gap: 20px;
	grid-template-columns: 1fr;
}

#detail {
	color: var(--dark-grey);
	font-weight: 500;
	text-align: center;
	padding-top: 10px;
}

@media (min-width: 600px) {
	#contacts-showcase {
		grid-template-columns: 1fr minmax(auto, 1160px) 1fr;
		gap: 20px;
	}

	#contacts-grid {
		grid-column: 2 / 3;
		grid-template-columns: 1fr 1fr;
		grid-template-areas:
			'card-1 card-2'
			'form form'
			'detail detail';
		gap: 40px;
	}

	#contacts-grid > :first-child {
		grid-area: card-1;
	}

	#contacts-grid > :nth-child(2) {
		grid-area: card-2;
	}

	#detail {
		grid-area: detail;
	}
}

@media (min-width: 1000px) {
	#contacts-showcase {
		gap: 40px;
	}

	#contacts-grid {
		grid-template-columns: 1fr 2fr;
		grid-template-areas:
			'card-1 form'
			'card-2 form'
			'detail detail';
	}
}

@media (min-height: 1100px) {
	#contacts-showcase {
		padding: 50px 0;
	}
}
