<section id="hero" class="hero">
	<h1 class="title">How can I help?</h1>
	<p class="subtitle">Feel free to reach out to me with any questions or business propositions.
	</p>
</section>
<section id="contacts-showcase">
	<div id="contacts-grid">
		<app-contact-card *ngFor="let contact of contacts | async"
			[logoPath]="'/assets/svg/' + contact.logoName + '.svg'" [instruction]="contact.instruction"
			[info]="contact.information" class="card"></app-contact-card>
		<app-contact-form class="card"></app-contact-form>
		<p id="detail">* My typical response time is between 1-3 business days.</p>
	</div>
</section>
