<span id="instruction">Submit a contact form*</span>
<form id="contact-form">
	<div class="input-group">
		<label for="name">Name:</label>
		<input id="name" class="input" name="name" type="text" placeholder="John Doe">
	</div>
	<div class="input-group">
		<label for="email">Email address:</label>
		<input id="email" class="input" name="email" type="email" placeholder="johndoe@email.com">
	</div>
	<div class="input-group">
		<label for="message">Your message:</label>
		<textarea class="input" name="message" id="message" cols="30" rows="10"
			placeholder="Here is my message..."></textarea>
	</div>
	<button class="btn btn-primary">Submit contact form</button>
</form>
