<span id="instruction">Submit a contact form*</span>
<form #contactForm="ngForm" id="contact-form" (ngSubmit)="onSubmit()">
	<div class="input-group">
		<label for="name">Name:</label>
		<input id="name" class="input" name="name" type="text" placeholder="John Doe" required [(ngModel)]="model.name"
			#name="ngModel">
		<div [hidden]="name.valid || (name.untouched && name.pristine)" class="form-alert">
			Your name is required
		</div>
	</div>
	<div class="input-group">
		<label for="email">Email address:</label>
		<input id="email" class="input" name="email" type="email" placeholder="johndoe@email.com" required
			[(ngModel)]="model.email" #email="ngModel">
		<div [hidden]="email.valid || (email.untouched && email.pristine)" class="form-alert">
			Your email is required
		</div>
	</div>
	<div class="input-group">
		<label for="message">Your message:</label>
		<textarea class="input" name="message" id="message" cols="30" rows="10" placeholder="Here is my message..."
			required [(ngModel)]="model.message" #message="ngModel"></textarea>
		<div [hidden]="message.valid || (message.untouched && message.pristine)" class="form-alert">
			A message is required
		</div>
	</div>
	<button type="submit" class="btn btn-primary" [disabled]="!contactForm.form.valid">Submit contact form</button>
</form>
