:host {
	/* Temporary */
	filter: blur(3px);
	/* Temporary */
	grid-column: 2 / span 6;
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
}

form {
	display: flex;
	flex-direction: column;
}

/* Temporary */
#filter-container, button {
	pointer-events: none;
}
/* Temporary */

#filter-container {
	display: flex;
}

#filter-inputs {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.input {
	margin: 0 35px 35px 0;
}

span {
	margin-right: 35px;
	padding-top: 10px;
	font-weight: 500;
	font-size: 20px;
}

button {
	margin: 0 0 35px 0;
	padding: 13px 16px;
	font-size: 16px;
	align-self: center;
}

hr {
	border: 0.5px solid var(--light-grey);
}

@media (min-width: 500px) {
	:host {
		grid-column: 2 / span 12;
	}
}

@media (min-width: 767px) {
	form {
		flex-direction: row;
	}

	#filter-inputs {
		width: auto;
	}

	.input {
		width: 300px;
	}

	button {
		align-self: flex-start;
	}
}

@media (min-width: 1100px) {
	#filter-inputs {
		flex-direction: row;
		align-items: flex-start;
	}
}
