<div class="project-graphic">
	<span class="project-name ellipsis">Card Title</span>
	<span class="project-status tag">Ongoing</span>
</div>
<div class="project-content">
	<div class="project-categories">
		<span class="project-category tag">Category</span>
		<span class="project-category tag">Category</span>
	</div>
	<div class="project-description ellipsis">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad, libero...
	</div>
	<button class="btn btn-tertiary learn-more">Learn more</button>
</div>
