<div class="project-graphic" [ngStyle]="{ 'background-image': 'url(' + image + ')'}">
	<span class="project-name ellipsis">{{ name }}</span>
	<span #statusEl class="project-status tag">{{ status }}</span>
</div>
<div class="project-content">
	<div class="project-categories">
		<span *ngFor="let category of categories" class="project-category tag">{{ category }}</span>
	</div>
	<div class="project-description ellipsis">{{ description }}</div>
	<a class="btn btn-tertiary learn-more" [href]="repository" target="_blank">Learn more</a>
</div>
