:root {
	--dark-blue: #0D1321;
	--click-dark-blue: hsl(222, 43%, 15%);
	--white: #f5f5ff;
	--click-white: #e0e0ff;
	--light-red: #ffe0e3;
	--red: #ff5666;
	--click-red: #ff3347;
	--dark-red: #940000;
	--light-blue: #227DFC;
	--light-green: #8DF7E2;
	--disabled-grey: #dbdbdb;
	--light-grey: #A5A5A5;
	--dark-grey: #6F6F6F;
	--form-valid: #1ed760;
	--font: 'Poppins', sans-serif;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: var(--font);
	color: var(--dark-blue);
}

body {
	background-color: var(--white);
}

option {
	font-weight: 500;
	color: var(--dark-grey);
}

option:disabled {
	color: var(--light-grey);
}

.hero {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: var(--dark-blue);
}

.title {
	font-size: 50px;
	line-height: 1.4;
	margin: 40px 0 30px 0;
	color: var(--red);
	text-align: center;
	padding: 30px 36px 0 36px;
}

.subtitle {
	display: none;
}

.btn {
	margin: 20px 36px;
	border: none;
	border-radius: 50px;
	font-size: 1rem;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 1px;
	padding: 20px 50px;
	text-decoration: none;
}

.btn:hover {
	cursor: pointer;
}

.btn:active, .btn:focus {
	outline: none;
}

.btn-primary {
	background-color: var(--red);
	color: var(--white);
}

.btn-primary:active {
	background-color: var(--click-red);
}

.btn:disabled {
	color: var(--dark-grey);
	background-color: var(--disabled-grey);
	pointer-events: none;
}

.btn-secondary {
	background-color: var(--white);
	color: var(--dark-blue);
}

.btn-secondary:active {
	background-color: var(--click-white);
}

.btn-tertiary {
	background-color: var(--dark-blue);
	color: var(--white);
}

.btn-tertiary:active {
	background-color: var(--click-dark-blue);
}

.ellipsis {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.input {
	padding: 13px;
	border: 1px solid var(--light-grey);
	font-size: 16px;
	font-weight: 500;
	border-radius: 4px;
}

.input::placeholder {
	color: var(--dark-grey);
}

.input:focus {
	outline: none;
	border-color: black;
}

.card {
	display: flex;
	flex-direction: column;
	background-color: var(--white);
	box-shadow: 0 8px 20px 0 rgba(45, 45, 45, 0.2);
	border-radius: 20px;
	overflow: hidden;
	transition: all 0.3s ease 0s;
}

.card:hover {
	transform: scale(1.01);
}


.nav-link {
	color: var(--white);
	text-decoration: none;
}

.nav-link.disabled {
	pointer-events: none;
	color: var(--dark-grey);
}

.tippy-box[data-theme~='roshennair'] {
	background-color: var(--white);
	color: var(--dark-blue);
	font-family: var(--font);
}

.tippy-box[data-theme~='roshennair'][data-placement^='top'] > .tippy-arrow::before {
	border-top-color: var(--white);
}

.tippy-box[data-theme~='roshennair'][data-placement^='bottom'] > .tippy-arrow::before {
	border-bottom-color: var(--white);
}

.tippy-box[data-theme~='roshennair'][data-placement^='left'] > .tippy-arrow::before {
	border-left-color: var(--white);
}

.tippy-box[data-theme~='roshennair'][data-placement^='right'] > .tippy-arrow::before {
	border-right-color: var(--white);
}

@media (min-width: 900px) {
	.title {
		font-size: 60px;
		padding-top: 40px;
	}

	.subtitle {
		color: var(--white);
		font-size: 20px;
		font-weight: 300;
		display: block;
		margin: 0 50px 40px 50px;
		text-align: center;
	}

	.btn {
		font-size: 1.2rem;
		padding: 25px 80px
	}
}
