:root {
	--dark-blue: #0D1321;
	--white: #F7F7FF;
	--red: #FF5666;
	--light-blue: #227DFC;
	--light-green: #8DF7E2;
}

* {
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
	background: var(--white);
}
