#hero {
	height: calc(100vh - 60px);
	min-height: 740px;
}

#title {
	padding-top: 0;
}

#buttons {
	display: flex;
	flex-direction: column;
}

@media (min-width: 900px) {
	#hero {
		height: 100vh;
		min-height: 600px;
	}

	#buttons {
		flex-direction: row;
	}
}
