<div class="nav-link-container">
	<a class="nav-link" routerLink="/">
		<img class="icon" src="/assets/svg/home.svg" alt="">
		Home
	</a>
</div>
<div class="nav-link-container">
	<a class="nav-link" routerLink="/projects">
		<img class="icon" src="/assets/svg/projects.svg" alt="">
		Projects
	</a>
</div>
<div class="nav-link-container">
	<a class="nav-link disabled">
		<img class="icon" src="/assets/svg/blog.svg" alt="">
		Blog
	</a>
</div>
<div class="nav-link-container">
	<a class="nav-link disabled">
		<img class="icon" src="/assets/svg/about.svg" alt="">
		About
	</a>
</div>
<div class="nav-link-container">
	<a class="nav-link" routerLink="/contacts">
		<img class="icon" src="/assets/svg/contact.svg" alt="">
		Contact
	</a>
</div>
